     # Core FastAPI and general dependencies
    fastapi==0.111.0
    requests==2.32.3
    firebase-admin==6.5.0
    algoliasearch

    # Explicitly list gunicorn and uvicorn
    gunicorn==22.0.0 # Pin a recent, stable version of gunicorn
    uvicorn==0.30.1

    pydantic==2.7.4

    # Scientific/ML dependencies - order matters for some conflicts
    numpy==1.23.5
    numba==0.56.4
    scikit-learn==1.5.0
    pandas==1.5.3
    Cython==0.29.36
    matplotlib==3.9.0

    # Transformers and PyTorch
    torch==2.3.1
    transformers==4.42.3
    datasets==2.20.0
    sentencepiece
    shap==0.45.0

    

